@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QrCode Generator Sample</h1>
    <div style="width:250px;margin: 20px auto 20px auto;">
        <qrcode data="Some random Text for QrCode" scale="10" border="0"/>
    </div>
</div>
