@{
    ViewData["Title"] = "Home Page";

    var kanjiText = "維基百科（Wikipedia，聆聽i/ˌwɪkᵻˈpiːdi.ə/）是一個自由內容、公開編輯且多語言的網路百科全書協作計畫";
    var numericText = "1029373476723465728722676723527239843";
}

<div class="text-center">
    <h1 class="display-4">Welcome to QrCode Generator Sample</h1>
    <div style="width:250px;margin: 20px auto 20px auto;">
        <qrcode data="Some random Text for QrCode" scale="10" border="0"/>
    </div>

    <div style="width:250px;margin: 20px auto 20px auto;">
        <qrcode data="@kanjiText" scale="10" border="0" />
    </div>

    <div style="width:250px;margin: 20px auto 20px auto;">
        <qrcode data="@numericText" scale="10" border="0" />
    </div>
</div>
